{% extends 'base.html' %}

{% block content %}
<form method="post" action="{{ url_for('ideja')}}">
    <div class="form-group">
        <select class="form-select" aria-label="Default select example" name = "mebele">
            <option selected>Mēbele</option>
            <option value="Krēsls">Krēsls</option>
            <option value="Kumode">Kumode </option>
            <option value="Skapis">Skapis</option>
            <option value="Galds">Galds</option>
            <option value="Gulta">Gulta</option>  
        </select>

        <select class="form-select" aria-label="Default select example" name = "materials">
            <option selected>Materiāls</option>
            <option value="Metāls">Metāls</option>
            <option value="Koks">Koks </option>
            <option value="Plastmasa">Plastmasa</option>
        </select>

        <select class="form-select" aria-label="Default select example" name = "tehnika">
            <option selected>Atjaunošanas tehnika</option>
            <option value="Polsterēšana">Polsterēšana</option>
            <option value="Krāsošana">Krāsošana </option>
            <option value="Lakošana">Lakošana</option>
            <option value="Dekupēšana">Dekupēšana</option>
            <option value="Slīpēšana">Slīpēšana</option>
        </select>

        <select class="form-select" aria-label="Default select example" name = "stils">
            <option selected>Stils</option>
            <option value="Modernais">Modernais</option>
            <option value="Retro">Retro </option>
            <option value="Abstrakts">Abstrakts</option>
            <option value="Klasiskais">Klasiskais</option>
            <option value="Industriālais">Industriālais</option>
            <option value="Provansas">Provansas</option>
        </select>

            <!-- <a class="btn btn-primary" href="{{ url_for('ideja')}}" role="button">Meklēt</a> -->
            <button class="btn btn-primary" type="submit" role="button">Meklēt</button>
            

            <a class="btn btn-primary" href="{{ url_for('pieslegties')}}" role="button">Pieslēgties</a>

        <style>
            .search-container {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              height: 50px;
            }
        
            form {
              display: flex;
              align-items: center;
            }
        
            input[type="text"] {
              padding: 10px;
              border: none;
              border-radius: 5px;
              margin-right: 10px;
            }
        
            button[type="submit"] {
              background-color: #000000;
              color: white;
              border: none;
            }


        </style>   

    </div>
</form>


{% endblock %}